@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Custom Text Variables */
    --text-selected-light: #18181b;
    --text-unselected-light: #989ba0;
    --text-selected-dark: #fafafa;
    --text-unselected-dark: #8e8f97;
    --text-hovered-light: #18181a;
    --text-hovered-dark: #ededed;
    --text-secondary: #0f1010;

    /* Base Theme (Light) */
    --white: #ffffff;
    --black: #000000;
    --background: var(--white);
    --foreground: var(--black);
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: hsl(240, 5%, 96%);
    --secondary-foreground: hsl(240, 6%, 10%);
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;
    --destructive: #fecdd3;
    --destructive-foreground: var(--black);
    --informative: #e0f2fe;
    --informative-foreground: var(--black);
    --warning: #fef3c7;
    --warning-foreground: var(--black);
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 6% 10%;
    --radius: 0.5rem;
    --text-selected: var(--text-selected-light);
    --text-unselected: var(--text-unselected-light);

    /* Chart Colors */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --background-transparent: rgba(255, 255, 255, 0.6);
  }

  .dark {
    /* Base Theme (Dark) */
    --background: var(--black);
    --foreground: var(--white);
    --card: 240 6% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 240 6% 10%;
    --secondary: hsl(240, 4%, 16%);
    --secondary-foreground: var(--white);
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 100%;
    --destructive: #7f1d1d;
    --destructive-foreground: var(--white);
    --informative: #075985;
    --informative-foreground: var(--white);
    --warning: #ca8a04;
    --warning-foreground: var(--white);
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 240 5% 84%;
    --text-selected: var(--text-selected-dark);
    --text-unselected: var(--text-unselected-dark);
    --text-secondary: #e6e6e6;

    /* Chart Colors */
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --background-transparent: rgba(0, 0, 0, 0.6);
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Pretendard', sans-serif;
  }

  /* --- Selection Styles Added --- */
  ::selection {
    background: var(--foreground);
    color: var(--background);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.selected {
  color: var(--text-selected-light);
}
.dark .selected {
  color: var(--text-selected-dark);
}

.hovered {
  color: var(--text-hovered-light);
}
.dark .hovered {
  color: var(--text-hovered-dark);
}

.transition-toast {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@keyframes fadeInRow {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-row {
  animation: fadeInRow 0.5s ease-out forwards;
}

[data-rehype-pretty-code-title] {
  font-size: 14px;
  font-weight: 500;
  padding: 6px 12px;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
}

html.light [data-rehype-pretty-code-title] {
  color: #000;
  background-color: #f3f4f6;
}

html.dark [data-rehype-pretty-code-title] {
  color: #fff;
  background-color: #363c46;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

figure[data-rehype-pretty-code-figure]:has([data-rehype-pretty-code-title]) pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
}

figcaption[data-rehype-pretty-code-caption] {
  text-align: center !important;
  margin-top: 0.5rem !important;
  font-size: 0.94rem !important;
  color: #6b7280 !important;
  display: block !important;
  background-color: transparent;
}

code[data-line-numbers] > [data-line]::before {
  @apply mr-3 inline-block w-3 text-left text-gray-600 p-0
      content-[counter(lineNumber)]
      [counter-increment:lineNumber];
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge legacy */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
